.purpleGradient {
	background: linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.purpleButton {
	border: none;

	background: var(--color-primary);
}

.strokeBtn {
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-10);
	padding: 16px 32px;
}
