.purpleGradient {
	background: linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.purpleButton {
	border: none;

	background: var(--color-primary);
}

.strokeBtn {
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-10);
	padding: 16px 32px;
}

.chip {
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
	border: 1px solid var(--color-stroke);
	color: var(--color-text);
	padding: 8px 16px;
	border-radius: var(--border-10);
	background: none;
	cursor: pointer;
	white-space: nowrap;
}

.chip:hover {
	background: var(--color-bg-medium);
}

.chip_active {
	background: var(--color-primary);
	border: none;
}

.chip_active:hover {
	background: var(--color-primary-hover);
}

.tag {
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: var(--color-text);
	border: 1px solid var(--color-stroke);
	border-radius: 17px;
	padding: 6px 12px;
}
