/* Main */
.main {
}

/* Hero */
.hero {
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: var(--color-bg-medium);
}

.hero__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__body_info {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.hero__body_info-h1 {
	font-weight: 700;
	font-size: 54px;
	line-height: 100%;
	color: var(--color-text);
}

.info__btns {
	display: flex;
	gap: 32px;
}

.info__btns-courses,
.info__btns-about {
	padding: 16px 32px;
	text-align: center;
	cursor: pointer;

	font-size: 18px;
	line-height: 120%;
	border-radius: 10px;
	color: var(--color-text);
	background-color: var(--color-bg-medium);
}

.info__btns-about {
	border: 1px solid var(--color-stroke);
}

@media (max-width: 1200px) {
	.hero__body {
		flex-direction: column;
		gap: 24px;
	}

	.info__btns {
		justify-content: center;
	}

	.hero__body_info-h1 {
		text-align: center;
	}
}

@media (max-width: 590px) {
	.hero {
		padding-top: 27px;
		padding-bottom: 23px;
	}

	.hero__body_info-h1 {
		font-size: 40px;
		line-height: 120%;
	}
}

@media (max-width: 460px) {
	.hero__body_info {
		gap: 24px;
	}

	.hero__body_info-h1 {
		font-size: 30px;
		line-height: 120%;
	}

	.info__btns {
		gap: 16px;
	}

	.info__btns-about,
	.info__btns-courses {
		padding: 12px 24px;
	}

	.hero__body_media {
		width: 100%;
	}
}

/* Blog */

.blog {
	padding: 100px 0;
}

.blog__body {
	display: flex;
	flex-direction: column;
}

.blog__body_title {
	margin-top: 8px;

	font-weight: 400;
	font-size: 46px;
	line-height: 120%;
}

.blog__body_paragraph {
	margin: 32px 0;
}

.blog__body_social {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 48px;
}

.article__item {
	display: flex;
	align-items: center;
	gap: 260px;
	border-radius: var(--border-10);
	padding: 35px 40px 23px 32px;
	background-color: #1e1f29;
}

.article__item:not(:last-child) {
	margin-bottom: 32px;
}

.article__item_data_dnv {
	display: flex;
	align-items: center;
	gap: 32px;
}

.article__item_data-date,
.article__item_data-views {
	display: flex;
	align-items: center;
	gap: 6px;

	font-size: 16px;
	color: var(--color-gray);
}

.article__item_data-title {
	margin: 12px 0;
}

.article__item_data-text {
	font-size: 16px;
	line-height: 150%;
}

.article__item_linkRead {
	cursor: pointer;
	align-self: baseline;
	padding: 16px 32px;

	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	text-align: center;
	color: #fafafa;
	background: none;
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-10);
}

.article__item_linkRead:hover {
	background-color: var(--color-bg-light);
}

.blog__body_more {
	margin-top: 52px;
	align-self: center;
	text-align: center;
}

.blog__body_more:hover {
	background-color: var(--color-bg-light);
}

@media (max-width: 980px) {
	.article__item {
		gap: 100px;
	}
}

@media (max-width: 840px) {
	.article__item {
		flex-direction: column;
		gap: 32px;
	}

	.article__item_linkRead {
		align-self: center;
	}
}

@media (max-width: 480px) {
	.blog__body_title {
		font-weight: 700;
		font-size: 21px;
	}

	.article__item {
		padding: 24px 16px;
	}

	.article__item_data-views,
	.article__item_data-date {
		font-size: 14px;
	}

	.article__item_linkRead {
		width: calc(100% - 62px);
	}

	.blog__body_more {
		align-self: auto;
		margin-top: 24px;
	}
}

/* Courses */

.chip_wrapper {
	display: flex;
	gap: 24px;
	padding-bottom: 32px;
	padding-left: 24px;
	margin-right: -24px;
	margin: 0 -24px;
	overflow: scroll;
	scrollbar-width: none;
}

.courses_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 70px;
}

.course-card {
	background: var(--color-bg-medium);
	border-radius: var(--border-10);
}

.course-card_cover {
	height: 194px;
	background: url('../assets/images/cover-course.png');
	object-fit: cover;
	border-radius: var(--border-10) var(--border-10) 0 0;
}

.course-card_body {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 24px;
}

.course-card__title {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 4px;
}

.course-card__author {
	color: var(--color-gray);
}

.course-card__tags {
	display: flex;
	gap: 12px;
}

.course-card_footer {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	justify-content: center;
	padding: 24px;
	font-weight: 700;
	font-size: 22px;
	background: var(--color-bg-light);
	border-radius: 0 0 10px 10px;
}
